# Bin and Obj directories
**/bin/
**/obj/

# Visual Studio user files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

.vs/

# App specific
appsettings.Development.json
*.deps.json
*.runtimeconfig.*
*.staticwebassets.runtime.json