################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoOne/DemoOne/.vs/DemoOne/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
/DemoOne/DemoOne/.vs/DemoOne/FileContentIndex/5735915f-6759-48d5-abc8-b74a9e134a72.vsidx
/DemoOne/DemoOne/.vs/DemoOne/CopilotIndices/17.13.441.19478
/DemoOne/DemoOne/.vs/DemoOne/FileContentIndex
/DemoOne/DemoOne/.vs
/DemoOne/DemoOne/.vs/DemoOne/v17/.suo
/DemoOne/DemoOne/.vs/DemoOne/v17/DocumentLayout.backup.json
/DemoOne/DemoOne/.vs/DemoOne/v17/DocumentLayout.json
/DemoOne/StudentService.API/StudentService.API/bin/Debug/net8.0/StudentService.API.dll
/DemoOne/StudentService.API/StudentService.API/bin/Debug/net8.0/StudentService.API.exe
/DemoOne/StudentService.API/StudentService.API/bin/Debug/net8.0/StudentService.API.pdb
