################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoOne/DemoOne/.vs/DemoOne/CopilotIndices/17.13.441.19478
/DemoOne/DemoOne/.vs/DemoOne/FileContentIndex
